Marv.Synergi/Web References/LoginService/BRIXLoginService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.dnv.com/WebServices/BRIXSecurity/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.dnv.com/WebServices/BRIXSecurity/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dnv.com/WebServices/BRIXSecurity/">
      <s:element name="LogIn">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogInResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogInResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BRIXAuthenticationHeader" type="tns:BRIXAuthenticationHeader" />
      <s:complexType name="BRIXAuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="authenticated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="issueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="expiration" type="s:dateTime" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="LogOut">
        <s:complexType />
      </s:element>
      <s:element name="LogOutResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LogOutResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SecurityToken">
        <s:complexType />
      </s:element>
      <s:element name="SecurityTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SecurityTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearCache">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ClearCacheResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClearCacheResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSecurityToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="securityToken" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ValidateSecurityTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ValidateSecurityTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityTokenFromOld">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="oldSecurityTicket" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSecurityTokenFromOldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSecurityTokenFromOldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImpersonateToken">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="impersonateUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ImpersonateTokenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ImpersonateTokenResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LogInSoapIn">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="LogInSoapOut">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="LogInBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="tns:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapIn">
    <wsdl:part name="parameters" element="tns:LogOut" />
  </wsdl:message>
  <wsdl:message name="LogOutSoapOut">
    <wsdl:part name="parameters" element="tns:LogOutResponse" />
  </wsdl:message>
  <wsdl:message name="LogOutBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="tns:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="SecurityTokenSoapIn">
    <wsdl:part name="parameters" element="tns:SecurityToken" />
  </wsdl:message>
  <wsdl:message name="SecurityTokenSoapOut">
    <wsdl:part name="parameters" element="tns:SecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="SecurityTokenBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="tns:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="ClearCacheSoapIn">
    <wsdl:part name="parameters" element="tns:ClearCache" />
  </wsdl:message>
  <wsdl:message name="ClearCacheSoapOut">
    <wsdl:part name="parameters" element="tns:ClearCacheResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSecurityTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ValidateSecurityToken" />
  </wsdl:message>
  <wsdl:message name="ValidateSecurityTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ValidateSecurityTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ValidateSecurityTokenBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="tns:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetSecurityTokenFromOldSoapIn">
    <wsdl:part name="parameters" element="tns:GetSecurityTokenFromOld" />
  </wsdl:message>
  <wsdl:message name="GetSecurityTokenFromOldSoapOut">
    <wsdl:part name="parameters" element="tns:GetSecurityTokenFromOldResponse" />
  </wsdl:message>
  <wsdl:message name="GetSecurityTokenFromOldBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="tns:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="ImpersonateTokenSoapIn">
    <wsdl:part name="parameters" element="tns:ImpersonateToken" />
  </wsdl:message>
  <wsdl:message name="ImpersonateTokenSoapOut">
    <wsdl:part name="parameters" element="tns:ImpersonateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="ImpersonateTokenBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="tns:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="BRIXLoginServiceSoap">
    <wsdl:operation name="LogIn">
      <wsdl:input message="tns:LogInSoapIn" />
      <wsdl:output message="tns:LogInSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <wsdl:input message="tns:LogOutSoapIn" />
      <wsdl:output message="tns:LogOutSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SecurityToken">
      <wsdl:input message="tns:SecurityTokenSoapIn" />
      <wsdl:output message="tns:SecurityTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <wsdl:input message="tns:ClearCacheSoapIn" />
      <wsdl:output message="tns:ClearCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <wsdl:input message="tns:ValidateSecurityTokenSoapIn" />
      <wsdl:output message="tns:ValidateSecurityTokenSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSecurityTokenFromOld">
      <wsdl:input message="tns:GetSecurityTokenFromOldSoapIn" />
      <wsdl:output message="tns:GetSecurityTokenFromOldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ImpersonateToken">
      <wsdl:input message="tns:ImpersonateTokenSoapIn" />
      <wsdl:output message="tns:ImpersonateTokenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BRIXLoginServiceSoap" type="tns:BRIXLoginServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:LogInBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/LogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:LogOutBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityToken">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/SecurityToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:SecurityTokenBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/ClearCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/ValidateSecurityToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ValidateSecurityTokenBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityTokenFromOld">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/GetSecurityTokenFromOld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetSecurityTokenFromOldBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImpersonateToken">
      <soap:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/ImpersonateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:ImpersonateTokenBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BRIXLoginServiceSoap12" type="tns:BRIXLoginServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogInBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogOut">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/LogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:LogOutBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SecurityToken">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/SecurityToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:SecurityTokenBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearCache">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/ClearCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidateSecurityToken">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/ValidateSecurityToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ValidateSecurityTokenBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSecurityTokenFromOld">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/GetSecurityTokenFromOld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSecurityTokenFromOldBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImpersonateToken">
      <soap12:operation soapAction="http://www.dnv.com/WebServices/BRIXSecurity/ImpersonateToken" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:ImpersonateTokenBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BRIXLoginService">
    <wsdl:port name="BRIXLoginServiceSoap" binding="tns:BRIXLoginServiceSoap">
      <soap:address location="http://localhost/webservices/BRIXLoginService/BRIXLoginService.asmx" />
    </wsdl:port>
    <wsdl:port name="BRIXLoginServiceSoap12" binding="tns:BRIXLoginServiceSoap12">
      <soap12:address location="http://localhost/webservices/BRIXLoginService/BRIXLoginService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>