Marv/Web References/LineAndSectionOverviewService/LineAndSectionOverviewService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://brix.dnv.com/BRIXProject/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s2="http://www.dnv.com/WebServices/BRIXSecurity/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://brix.dnv.com/BRIXProject/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://brix.dnv.com/BRIXProject/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="GetLines">
        <s:complexType />
      </s:element>
      <s:element name="GetLinesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetLinesResult" type="tns:ArrayOfLineSummaryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLineSummaryDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LineSummaryDTO" nillable="true" type="tns:LineSummaryDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LineSummaryDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LineOid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="LineId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LineFunction" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Product" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSections">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="lineOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSectionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSectionsResult" type="tns:ArrayOfSectionSummaryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfSectionSummaryDTO">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="SectionSummaryDTO" nillable="true" type="tns:SectionSummaryDTO" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="SectionSummaryDTO">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SectionOid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="LineOid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="SectionId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IntegrityManagementScheme" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Begin" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="End" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MRefUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IsDNVStandard" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IsOnshore" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetSection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sectionOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSectionResult" type="tns:SectionSummaryDTO" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComponents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sectionOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComponentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComponentsResult" type="tns:ArrayOfComponentSummaryDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfComponentSummaryDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ComponentSummaryDto" nillable="true" type="tns:ComponentSummaryDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ComponentSummaryDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Oid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SectionOid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Begin" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="End" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MRefUnit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sectionOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventsResult" type="tns:ArrayOfEventSummaryDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfEventSummaryDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventSummaryDto" nillable="true" type="tns:EventSummaryDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="EventSummaryDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Oid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Severity" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SectionOid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Begin" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="End" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MRefUnit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="eventOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEventResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEventResult" type="tns:ArrayOfEventSummaryDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHotspots">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sectionOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHotspotsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotspotsResult" type="tns:ArrayOfHotspotSummaryDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHotspotSummaryDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HotspotSummaryDto" nillable="true" type="tns:HotspotSummaryDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HotspotSummaryDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Oid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SectionOid" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="Begin" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="End" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MRefUnit" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetThreatGroups">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sectionOid" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetThreatGroupsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetThreatGroupsResult" type="tns:ArrayOfThreatDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfThreatDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ThreatDto" nillable="true" type="tns:ThreatDto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ThreatDto">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Oid" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubThreats" type="tns:ArrayOfThreatDto" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.dnv.com/WebServices/BRIXSecurity/">
      <s:element name="BRIXAuthenticationHeader" type="s2:BRIXAuthenticationHeader" />
      <s:complexType name="BRIXAuthenticationHeader">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="authenticated" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="issueDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="expiration" type="s:dateTime" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetLinesSoapIn">
    <wsdl:part name="parameters" element="tns:GetLines" />
  </wsdl:message>
  <wsdl:message name="GetLinesSoapOut">
    <wsdl:part name="parameters" element="tns:GetLinesResponse" />
  </wsdl:message>
  <wsdl:message name="GetLinesBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetSectionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetSections" />
  </wsdl:message>
  <wsdl:message name="GetSectionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetSectionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSectionsBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetSectionSoapIn">
    <wsdl:part name="parameters" element="tns:GetSection" />
  </wsdl:message>
  <wsdl:message name="GetSectionSoapOut">
    <wsdl:part name="parameters" element="tns:GetSectionResponse" />
  </wsdl:message>
  <wsdl:message name="GetSectionBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetComponentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetComponents" />
  </wsdl:message>
  <wsdl:message name="GetComponentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetComponentsResponse" />
  </wsdl:message>
  <wsdl:message name="GetComponentsBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvents" />
  </wsdl:message>
  <wsdl:message name="GetEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventsResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventsBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetEventSoapIn">
    <wsdl:part name="parameters" element="tns:GetEvent" />
  </wsdl:message>
  <wsdl:message name="GetEventSoapOut">
    <wsdl:part name="parameters" element="tns:GetEventResponse" />
  </wsdl:message>
  <wsdl:message name="GetEventBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetHotspotsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotspots" />
  </wsdl:message>
  <wsdl:message name="GetHotspotsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotspotsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHotspotsBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:message name="GetThreatGroupsSoapIn">
    <wsdl:part name="parameters" element="tns:GetThreatGroups" />
  </wsdl:message>
  <wsdl:message name="GetThreatGroupsSoapOut">
    <wsdl:part name="parameters" element="tns:GetThreatGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="GetThreatGroupsBRIXAuthenticationHeader">
    <wsdl:part name="BRIXAuthenticationHeader" element="s2:BRIXAuthenticationHeader" />
  </wsdl:message>
  <wsdl:portType name="LineAndSectionOverviewServiceSoap">
    <wsdl:operation name="GetLines">
      <wsdl:input message="tns:GetLinesSoapIn" />
      <wsdl:output message="tns:GetLinesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSections">
      <wsdl:input message="tns:GetSectionsSoapIn" />
      <wsdl:output message="tns:GetSectionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSection">
      <wsdl:input message="tns:GetSectionSoapIn" />
      <wsdl:output message="tns:GetSectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetComponents">
      <wsdl:input message="tns:GetComponentsSoapIn" />
      <wsdl:output message="tns:GetComponentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <wsdl:input message="tns:GetEventsSoapIn" />
      <wsdl:output message="tns:GetEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <wsdl:input message="tns:GetEventSoapIn" />
      <wsdl:output message="tns:GetEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHotspots">
      <wsdl:input message="tns:GetHotspotsSoapIn" />
      <wsdl:output message="tns:GetHotspotsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetThreatGroups">
      <wsdl:input message="tns:GetThreatGroupsSoapIn" />
      <wsdl:output message="tns:GetThreatGroupsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LineAndSectionOverviewServiceSoap" type="tns:LineAndSectionOverviewServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLines">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetLines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetLinesBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetLinesBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSections">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetSections" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSectionsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetSectionsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSection">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetSection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetSectionBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetSectionBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponents">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetComponents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetComponentsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetComponentsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEventsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetEventsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetEventBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetEventBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotspots">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetHotspots" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHotspotsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetHotspotsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreatGroups">
      <soap:operation soapAction="http://brix.dnv.com/BRIXProject/GetThreatGroups" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetThreatGroupsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
        <soap:header message="tns:GetThreatGroupsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LineAndSectionOverviewServiceSoap12" type="tns:LineAndSectionOverviewServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLines">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetLines" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLinesBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetLinesBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSections">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetSections" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSectionsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSectionsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSection">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetSection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSectionBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetSectionBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponents">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetComponents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetComponentsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetComponentsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvents">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEventsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEventsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEvent">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEventBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetEventBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHotspots">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetHotspots" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHotspotsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHotspotsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThreatGroups">
      <soap12:operation soapAction="http://brix.dnv.com/BRIXProject/GetThreatGroups" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetThreatGroupsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetThreatGroupsBRIXAuthenticationHeader" part="BRIXAuthenticationHeader" use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LineAndSectionOverviewService">
    <wsdl:port name="LineAndSectionOverviewServiceSoap" binding="tns:LineAndSectionOverviewServiceSoap">
      <soap:address location="http://localhost/webservices/IntegrityManagement/LineAndSectionOverviewService.asmx" />
    </wsdl:port>
    <wsdl:port name="LineAndSectionOverviewServiceSoap12" binding="tns:LineAndSectionOverviewServiceSoap12">
      <soap12:address location="http://localhost/webservices/IntegrityManagement/LineAndSectionOverviewService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>